@import "tailwindcss";


* {
    scroll-behavior: smooth;
    
}

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-gray-950: #030712;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}